body {
    background-color: #eedfc9;

    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
    /* TODO space the buttons evenly at the top */
}

#logo {
    align-self: center;
    /* TODO 2 lines spanning the top and bottom of the logo section */
}

#logo img {
    width: 250px;
    height: 250px;
}

#content {
    align-self: center;
    margin-left: 200px;
    margin-right: 200px;
}